{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}">
        <title> {% block title %} VLE {% endblock title %} </title>
    </head>

    <body>
        <div id=content>
            {% block content %}
                No content yet
            {% endblock content %}
        </div>
    </body>
</html>
